<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="[UTF-8](https://ontrack-internal.amd.com/browse/UTF-8)">  
    <title>Confirm Deletion</title>  
</head>  
<body>  
    <h1>Confirm Deletion</h1>  
    <p>Are you sure you want to delete the regression with ID {{ reg_id }}?</p>  
    <form method="post">  
        <button type="submit" name="confirmation" value="yes">Yes</button>  
        <button type="submit" name="confirmation" value="no">No</button>  
    </form>  
</body>  
</html>  

